@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
    margin: 0;
    padding: 0;
}

body{
    width: 512px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Open Sans", "Trebuchet", sans-serif;
    color: #212121;
}

div{
    margin: 0;
    padding: 0;
}

div#error{
    background-color: #FF9800;
    height: 100%;
    padding: 16px;
}

div#error a{
    color: #212121;
}

h3{
    margin-top: 8px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

i.icon{
    width: 1.5em;
    display: inline-block;
    text-align: center;
}

i.action{
    cursor: pointer;
}

div#toolbar{
    height: 48px;
    line-height: 48px;
    text-align: left;
    list-style: none;
    margin: 0 0 4px 0;
    padding: 0 0 0 8px;
    box-shadow: 0 2px 4px #bdbdbd;
    background: #EEEEEE;
}

div#toolbar > div{
    display: inline-block;
}

div.button{
    height: 32px;
    line-height: 32px;
    float: right;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    margin: 6px 8px;
    padding: 0 8px;
    box-shadow: 0 1px 2px #424242;
    user-select: none;
}

div.button.green{
    background: #4CAF50;
}

div.button.orange{
    background: #FF9800;
}

div.button:hover{
    box-shadow: 0 2px 4px #616161;
}

div.button:active{
    box-shadow: inset 0 2px 4px #424242;
}

div#torrents{
    max-height: 1024px;
    overflow-y: scroll;
}

div.torrent{
    padding: 8px 16px;
}

div.torrent:not(:last-child){
    border-bottom: 1px solid #e0e0e0;
}

div.progress{
    height: 8px;
    margin: 4px 0;
    border: 1px solid #E0E0E0;
    background: #ffffff;
}

div.progress > .bar{
    height: 8px;
    background: #2196F3;
}

div.progress > .bar.error{
    background: #F44336;
    width: 100%;
}

div.progress > .bar.stalled{
    background: #607D8B;
    width: 100%;
}

div.progress > .bar.paused{
    background: #E0E0E0;
}

span.size,
span.speeds,
span.controls{
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}

span.speeds,
span.controls{
    float: right;
    margin-left: 32px;
}

span.speeds > i{
    text-align: right;
}


div#footer{
    box-shadow: 0 -2px 4px #bdbdbd;
    height: 24px;
    line-height: 24px;
    margin-top: 8px;
    font-size: 12px;
    padding: 0 16px;
    background: #EEEEEE;
}

div#footer > span.speed_totals{
    float: right;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #212121;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}