@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    max-width: 768px;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Open Sans", "Trebuchet", sans-serif;
    color: #212121;
}

i.icon{
    width: 1.5em;
    display: inline-block;
    text-align: center;
}

div#header{
    height: 64px;
    line-height: 64px;
    font-size: 32px;
    margin: 16px 0;
}

div#header > img{
    float: left;
    margin-right: 16px;
}

form{
    background: #EEEEEE;
    border: 1px solid #BDBDBD;
    padding: 1em;
}

form > h2{
    margin: 32px 0 4px 0;
}

form > h2:first-child{
    margin-top: 0;
}

form > table{
    width: 100%;
    padding: 32px 14px;
    border-collapse: collapse;
}

form > table td{
    padding: 8px 8px;
}

input[type='text'],
input[type='number'],
input[type='password'],
span.default_val{
    border: none;
    padding: 0 1em;
    margin: 0;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    outline: none;
    box-sizing: border-box;
    background: #ffffff;
    border-bottom: 2px solid #ffffff;
    transition: 0.2s;
    border-radius: 2px;
    width: 100%;
}

table#categories th{
    text-decoration: underline;
    font-weight: normal;
}

span.default_val{
    display: inline-block;
    user-select: none;
    cursor: default;
}

input:hover{
    border-bottom: 2px solid #BDBDBD;
}

input:focus{
    border-bottom: 2px solid #2196F3;
}

i#add_category{
    font-size: 24px;
    cursor: pointer;
    margin-left: 8px;
}

div#footer{
    margin: 24px 0;
    overflow: auto;
}

div#footer > a:hover{
    box-shadow: 0 2px 4px #616161;
}

div#footer > a:active{
    box-shadow: none;
}

div.button{
    height: 32px;
    line-height: 32px;
    float: right;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    margin: 6px 8px;
    padding: 0 8px;
    box-shadow: 0 1px 2px #424242;
    user-select: none;
    font-weight: bold;
}

div.button.green{
    background: #4CAF50;
}

div.button.yellow{
    background: #FFC107;
}

div.button:hover{
    box-shadow: 0 2px 4px #616161;
}

div.button:active{
    box-shadow: inset 0 2px 4px #424242;
}